---
layout: base.njk
---

{% set previousPost = collections.posts | getPreviousCollectionItem %}
{% set nextPost = collections.posts | getNextCollectionItem %}

<section class="content">
  <h1>{{ title }}</h1>
  <p>
    <span class="marginnote">
      <strong>Posted:</strong> {{ page.date | toUTC }}
    </span>
  </p>
  {{ content | safe }}
</section>
<section class="content pagination">
  {% if previousPost %}<a href="{{ previousPost.url }}">← Previous Post</a>{% endif %}
  {% if nextPost %}<a href="{{ nextPost.url }}">Next Post →</a>{% endif %}
</section>