---
layout: base.njk
---

<section class="content">
  <h1>{{ title }}</h1>
  <p>
    <span class="marginnote">
      <strong>Posted:</strong> {{ page.date | toUTC }}
    </span>
  </p>
  {{ content | safe }}
</section>