<li class="blog-item">
  <div class="blog-flex">
    <p class="blog-title"><a href="{{ post.url }}">{{ post.data.title }}</a></p>
    <p class="blog-date">{{ post.page.date | toUTC }}</p>{% if post.data.subtitle %}
    <p class="blog-subtitle">{{ post.data.subtitle }}</p>
    {% endif %}
  </div>

</li>