<section class="terminal navbox">
  <p>
    <button class="btn host" tabindex="-1"><span>kirsten@earth</span></button>
    <button class="btn dir2" tabindex="-1">
      <span>~{% if tag != 'home' %}/{{ dir }}{% endif %}</span>
    </button>
    fetch
  </p>
  <table class="fetch">
    <tr>
      <th colspan="2" class="fetch">kirsten@earth</th>
    </tr>
    <tr>
      <td class="fetch">name</td>
      <td>Kirsten</td>
    </tr>
    <tr>
      <td class="fetch">pronouns</td>
      <td>she/her</td>
    </tr>
    <tr>
      <td class="fetch">kernel</td>
      <td>11.30.199x-Sagittarius</td>
    </tr>
    <tr>
      <td class="fetch">lang</td>
      <td>[ENG, TGL]</td>
    </tr>
    <tr>
      <td class="fetch">mbti</td>
      <td>INTP</td>
    </tr>
  </table>
</section>