<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="icon" href="/assets/img/favicon-2.png" type="image/png" />
  <link rel="shortcut icon" href="/assets/img/favicon-2.png" type="image/png" />
  {% if content_rating == 'Mature' or content_rating == 'Explicit' %}
  <script src="/assets/js/fic.js"></script>{% endif %}
  <script src="/assets/js/index.js"></script>
</head>

<body>
  {% include 'navigation.njk' %}
  <main>
    <article>{{ content }}</article>
  </main>
</body>

</html>