{% set totalPages = pagination.pages | length %}
{% if totalPages > 1 %}
<section class="content pagination">
  {% set currentPage = pagination.pageNumber + 1 %}
  {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">← Previous page</a>{% endif %}
  {% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next page →</a>{% endif %}
</section>
{% endif %}