<section class="terminal navbox webring">
  <div id="neossg">
    <script type="text/javascript" src="https://neossg.neocities.org/onionring-variables.js"></script>
    <script type="text/javascript" src="https://neossg.neocities.org/onionring-widget.js"></script>
  </div>
  <div><a href="https://hotlinewebring.club/kirsten/previous">←</a> <a href="https://hotlinewebring.club/">hotline
      webring</a> <a href="https://hotlinewebring.club/kirsten/next">→</a></div>
  <div>
    <a href="https://webring.dinhe.net/prev/https://10kph.neocities.org/"">←</a> <a href="
      https://webring.dinhe.net/">retronaut</a> <a href="https://webring.dinhe.net/random">??</a> <a
      href="https://webring.dinhe.net/next/https://10kph.neocities.org/">→</a>
  </div>
  <div class="devring">
    <div class="devring-container">
      <a href="https://devring.club/sites/12/prev" class="devring-previous">←</a>
      <span class="devring-title"><a href="https://devring.club/">devring.club</a></span>
      <a href="https://devring.club/random" class="devring-random">??</a>
      <a href="https://devring.club/sites/12/next" class="devring-next">→</a>
    </div>
  </div>
</section>