<section class="terminal navbox">
  <div class="top">
    <div><button class="btn host" tabindex="-1"><span>kirsten@earth</span></button>
      <button class="{{'btn dir2' if tag != 'home' else 'btn dir'}}" tabindex="-1">
        <span>~{% if tag != 'home' %}/{{ dir }}{% endif %}</span>
      </button>
    </div>
    <button class="btn toggle-color-scheme">
      Turn on the lights 🔆
    </button>
  </div>
  <nav class="nav">
    <p>
      <a href="/">/</a>
      <a href="/about">/about</a>
      <a href="/blog">/blog</a>
      <a href="/writing">/writing</a>
      <a href="/sitemap">/sitemap</a>
    </p>

  </nav>
</section>