<section class="terminal navbox">
  <div class="top">
    <div><button class="btn host" tabindex="-1"><span>kirsten@earth</span></button>
      <button class="{{'btn dir2' if tag != 'home' else 'btn dir'}}" tabindex="-1">
        <span>~{% if tag != 'home' %}/{{ dir }}{% endif %}</span>
      </button>
    </div>
    <p>
      <label for="theme-switcher">Theme:</label>

      <select name="theme-switcher" id="theme-switcher" class="select">
        <option value="dark">tokyo night</option>
        <option value="light">tokyo day</option>
        <option value="horizondark">horizon dark</option>
        <option value="horizonbright">horizon bright</option>
        <span class="focus"></span>
      </select>
    </p>
  </div>
  <nav class="nav">
    <p>
      <a href="/">/</a>
      <a href="/about" rel="me">/about</a>
      <a href="/blog">/blog</a>
      <a href="/projects">/projects</a>
      <a href="/sitemap">/sitemap</a>
    </p>

  </nav>
</section>