<div class="terminal">
  <p>
    <button class="btn host"><span>kirsten@earth</span></button>
    <button class="btn dir"><span>~</span></button>
    ls
  </p>
  <nav>
    <a href="/">index</a>
    <a href="/changelog/">changelog</a>
    <a href="/roadmap/">roadmap</a>
  </nav>
</div>
