{% include 'navigation.njk' %} {% if tag == 'home' or page.url == '/whoami/' %}
{% include 'fetch.njk' %} {% endif %} {% if tag == 'home' %} {% include
'bloglist.njk' %} {% endif %} {% if tags == 'posts' %} {% include 'toc.njk' %}
{% endif %}
