{% include 'navigation.njk' %} {% if tag == 'home' or page.url == '/about/' %}
{% include 'fetch.njk' %} {% endif %} {% if tag == 'home' %} {% include
'bloglist.njk' %} {% include 'ficlist.njk' %} {% endif %} {% if '/blog/' in page.url or page.url == '/resources/' %} {%
include 'toc.njk' %} {% endif %}
<button class="btn btn-primary toggle-color-scheme">
  Turn on the lights 🔆
</button>