{% if content | toc %}
<div class="terminal">
  <p>
    <button class="btn host" tabindex="-1">
      <span>contents</span>
    </button>
    <button class="{{'btn dir2' if tag != 'home' else 'btn dir'}}" tabindex="-1">
      <span>~{% if tag != 'home' %}/{{ dir }}{% endif %}</span>
    </button>
  </p>
  {{ content | toc | safe }}
</div>
{% endif %}