<div class="terminal">
  <p>
    <button class="btn host"><span>site updates</span></button>
    <button class="btn dir"><span>~</span></button>
  </p>
  <p>
    <b>2023-05-12:</b> Tweaked layout and CSS, added <i>About</i> page, updated
    the home page
  </p>
  <p><a href="/changelog/">See more updates</a></p>
</div>
