<div class="terminal">
  <p>
    <button class="btn host"><span>site updates</span></button>
    <button class="btn dir"><span>~</span></button>
  </p>
  <p>
    <strong>2023-05-13:</strong> Installed more 11ty plugins, added syntax
    highlighting (both light and dark mode, yay!), updated <em>About</em> page,
    added <em>Blog</em> page, updated sidebar with recent blog posts
  </p>
  <p><a href="/changelog/">See more updates</a></p>
</div>
