<div class="terminal">
  <p>
    <button class="btn host"><span>kirsten@earth</span></button>
    <button class="btn dir"><span>~</span></button>
    fetch –u
  </p>
  <p><b>2023-05-10:</b> Converted project to 11ty SSG</p>
  <p><a href="/changelog/">See more updates</a></p>
</div>
