/* EXTERNAL LINK */
/* SOURCE: https://christianoliff.com/blog/styling-external-links-with-an-icon-in-css/ */
a[href^="http"]::after,
a[href^="https://"]::after
{
  content: "↗";
  margin-left: 4px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
}

a[href^="localhost:8080"]::after,
a[href^="https://10kph.neocities.org"]::after,
section.webring a::after {
  display: none !important;
}

/* TERMINAL */
button {
  border: 0;
  outline: 0;
}

button.btn {
  font-family: "Inconsolata LGC Markup";
  font-weight: 500;
  cursor: pointer;
  font-size: 0.9rem;
}

button.btn span {
  padding: 8px;
}

button.btn-primary {
  background-color: var(--color-blue);
  color: var(--background-primary);
  box-shadow: 10px 10px var(--color-black);
}

button.btn:active {
  transform: scale(0.98);
}

button.toggle-color-scheme {
  background-color: var(--color-blue);
  color: var(--background-primary);
  padding: 0 0.75rem;
  font-size: 1.12rem;
  font-weight: 600;
  min-width: 190px;
}

button.btn::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

button.host,
button.dir,
button.dir2 {
  font-size: 1.12rem;
  letter-spacing: -0.5px;
  font-weight: 600;
  padding-top: 4px;
  padding-bottom: 4px;
  color: var(--background-primary);
}

button.btn.host,
button.btn.dir,
button.btn.dir2:active {
  transform: none;
}

button.host {
  cursor: default;
  padding: 0 10px 0 0;
  margin: 0;
  position: relative;
  display: inline-block;
  background: none;
}

button.host::after {
  content: "";
  background: var(--color-blue);
  -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
  z-index: -1;
}

button.dir {
  cursor: default;
  padding: 0 13px;
  margin-left: -20px;
  z-index: -10;
  position: relative;
  display: inline-block;
  background: none;
  width: auto;
}

button.dir::after {
  content: "";
  background: var(--color-red);
  -webkit-clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
  z-index: -1;
}

button.dir2 {
  cursor: default;
  padding: 0 13px;
  margin-left: -20px;
  z-index: -10;
  position: relative;
  display: inline-block;
  background: none;
  width: auto;
}

button.dir2::after {
  content: "";
  background: var(--color-red);
  -webkit-clip-path: polygon(0% 0%, 93% 0%, 100% 50%, 93% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 93% 0%, 100% 50%, 93% 100%, 0% 100%);
  z-index: -1;
}

table.fetch {
  margin-left: 0px;
  margin-right: auto;
  padding: 6px;
}

th.fetch {
  color: var(--color-teal);
  text-align: left;
  font-weight: 600;
}

td.fetch {
  color: var(--color-red);
  font-weight: 600;
  padding-right: 0.6em;
  line-height: 1.3;
}

/* FIC POSTS */
.post-date {
  opacity: 0.6;
}

.fic > p:nth-last-child(2) {
  padding-top: 8px;
}

.fic span {
  display: inline-block;
  margin-left: 1ch;
  padding: 0;
}

.fic span.stat {
  color: var(--color-gray);
}

.fic h2 + span.stat:first-of-type,
.fic h3 + span.stat:first-of-type {
  margin-left: 0;
}

.fic a + span.stat {
  margin-left: 2ch;
}

.fic span.stat.ship {
  color: var(--color-purple);
}

.fic span.stat.explicit {
  color: var(--color-red);
}

.fic span.stat.completed {
  color: var(--color-teal);
}

.fic span.stat.wip {
  color: var(--color-blue);
}

.fic span.stat.teen {
  color: var(--color-yellow);
}

/* CHECKBOX */
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  padding: 4px 0;
  font: inherit;
  color: currentColor;
}

input[type="checkbox"]:before {
  content: "[ ]";
}

input[type="checkbox"]:checked:before {
  content: "[√]";
  color: var(--color-teal);
}

ul.contains-task-list {
  padding-left: 0;
}

li.task-list-item,
li.bloglist {
  list-style: none;
  line-height: 1.5em;
  padding: 0;
}

li.task-list-item::before,
li.bloglist::before {
  content: none;
  padding: 0;
}

/* DROPDOWN */
/* https://moderncss.dev/custom-select-styles-with-pure-css/ */
:root {
  --select-border: var(--color-blue);
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

select::-ms-expand {
  display: none;
}

.select {
  border: 1px solid var(--select-border);
  padding: 0.25em 0.5em;
  font-size: 0.9rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: var(--color-primary);
  color: var(--background-primary);
}

.select option:hover {
  background-color: var(--color-blue);
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}

/* Direct Links / Markdown Headers */
.header-anchor {
  text-decoration: none;
  font-style: normal;
  font-size: 1em;
  margin-left: 0.1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
  color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
  text-decoration: underline;
  color: var(--color-green);
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
  color: var(--color-yellow);
}

h2 + .header-anchor {
  font-size: 1.5em;
}

/* MEDIA LOG */
.log {
  list-style: none;
  padding: 0;
  width: 100%;
}

.log-entry {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  padding: 4px;
  align-items: center;
}

.log-entry:not(:first-child) {
  margin: 0;
}

.log-entry:not(:last-child) {
  border-bottom: 1px solid var(--background-selection);
}

.log-date {
  order: 2;
}

.log-rating {
  order: 3;
}

.log-icon {
  order: 4;
}

.log-title {
  flex-basis: 100%;
}

.log-dir {
  font-size: 0.85em;
}

@media only screen and (min-width: 500px) {
  .log-date {
    flex-basis: 20%;
    order: initial;
    font-size: inherit;
  }

  .log-entry {
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .log-title {
    flex-basis: 65%;
  }

  .log-icon {
    flex-basis: 10%;
    order: 3;
  }

  .log-rating {
    flex-basis: 5%;
    text-align: right;
  }
}

/* rainbow home page title */
.hometitle {
  margin: 0 auto;
  background-image: linear-gradient(
    to right,
    var(--color-red),
    var(--color-yellow),
    var(--color-green),
    var(--color-teal),
    var(--color-blue),
    var(--color-purple),
    var(--color-violet)
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: var(--color-red);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear reverse infinite;
  display: inline-block;
  text-shadow: none;
  text-decoration: none;
  vertical-align: baseline;
  letter-spacing: -1px;
}

.wave {
  position: relative;
  padding: 8px 0 13px 0;
}

.wave span {
  position: relative;
  display: inline-block;
  animation: animate 2s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }

  25%,
  75% {
    transform: translateY(-8px);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* ALERTS/ADMONITION/ASIDES */
aside {
  padding: 1rem;
  border: 1px solid var(--background-blue);
  background-color: var(--background-blue);
  border-radius: 0.3rem;
}

aside:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

aside b,
aside strong {
  color: var(--color-blue);
}

aside i,
aside em {
  color: inherit;
}

aside p {
  margin: 0;
}

aside.danger {
  border-color: var(--color-red);
  background-color: var(--background-red);
}

aside.danger b,
aside.danger strong {
  color: var(--color-red);
}

aside.warning {
  border-color: var(--color-yellow);
  background-color: var(--background-yellow);
}

aside.warning b,
aside.warning strong {
  color: var(--color-yellow);
}

@media screen and (max-width: 811px) {
  aside.start {
    margin-top: 7.5rem;
  }
}
