@charset "UTF-8";
@import url(tokyonight.css);

@font-face {
  font-family: "Libertinus Serif";
  src: url("../fonts/LibertinusSerif-Regular.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Libertinus Serif";
  src: url("../fonts/LibertinusSerif-Italic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "Libertinus Serif";
  src: url("../fonts/LibertinusSerif-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Libertinus Serif";
  src: url("../fonts/LibertinusSerif-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Libertinus Serif";
  src: url("../fonts/LibertinusSerif-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Libertinus Serif";
  src: url("../fonts/LibertinusSerif-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Inconsolata LGC Markup";
  src: url("../fonts/InconsolataLGCmarkup.otf");
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata LGC Markup";
  src: url("../fonts/InconsolataLGCmarkup-Italic.otf");
  font-style: italic;
}

@font-face {
  font-family: "Inconsolata LGC Markup";
  src: url("../fonts/InconsolataLGCmarkup-Bold.otf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Inconsolata LGC Markup";
  src: url("../fonts/InconsolataLGCmarkup-BoldItal.otf");
  font-style: italic;
  font-weight: 600;
}

/* NAVIGATION */

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  display: inline-block;
  padding-inline-start: 0;
}
nav ul li:not(:first-child) {
  margin-top: 0;
}
nav ul li a {
  display: inline-block;
}

nav li:first-child {
  margin-left: 0 !important;
}

nav.chapter-nav {
  font-size: 1rem;
}

/* Tufte CSS styles */
html {
  font-size: 16px;
  letter-spacing: -0.32px;
  scroll-behavior: smooth;
  background-color: var(--background-primary);
  color: var(--color-primary);
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--background-primary);
}

::-webkit-scrollbar {
  width: 8px;
  background: var(--background-primary);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

body {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5%;
  font-family: "Inconsolata LGC Markup";
  max-width: 1400px;
  counter-reset: sidenote-counter;
}

.light-theme {
  --background-primary: #efefef;
  --color-primary: #2d2f42;
  --color-border: #ccc;
}

.dark-theme {
  --background-primary: #1a1b26;
  --color-primary: #dfdede;
  --color-border: #515151;
}

@media (prefers-color-scheme: light) {
  html {
    --background-primary: #efefef;
    --color-primary: #2d2f42;
    --color-border: #ccc;
  }
}

/* Adds dark mode */
@media (prefers-color-scheme: dark) {
  html {
    --background-primary: #1a1b26;
    --color-primary: #dfdede;
    --color-border: #515151;
  }
}

h1,
h2 {
  letter-spacing: -0.5px;
}

h1,
h2,
h3,
h4 {
  line-height: 1.5;
  font-weight: 600;
  color: var(--color-red);
}

h1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  line-height: 1;
}

h2 {
  font-style: italic;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  font-size: 1.5rem;
  line-height: 1;
}

h3 {
  font-style: italic;
  font-size: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--color-border);
  margin: 1rem 1.5rem;
}

p.subtitle {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  display: block;
  line-height: 1;
}

.numeral {
  font-family: et-book-roman-old-style;
}

.danger {
  color: red;
}

section.terminal,
section.content {
  padding: 1rem;
  width: 50%;
}

section.terminal {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid currentColor;
  box-shadow: 10px 10px var(--color-black);
}

section.content:not(:last-of-type) {
  border-bottom: 3px dotted var(--color-purple);
}

section.terminal.navbox {
  margin-top: 2em;
}

section.terminal.navbox .top {
  display: flex;
  justify-content: space-between;
}

section.terminal.navbox p {
  margin-top: 0.75rem;
  margin-bottom: 0;
  /* margin: 0; */
}

section.terminal nav {
  font-size: 1.12rem;
}

section.terminal nav a {
  padding: 0 8px;
  margin: 0 4px;
  background: var(--background-yellow);
}

section.terminal nav a:first-of-type {
  margin-left: 0px;
}

section.fic-page {
  margin: 0;
}

section.content.end {
  border-bottom: none;
  padding-bottom: 0;
}

/* section.fic-page p {
  font-family: "Libertinus Serif", Georgia, "Times New Roman", Times, serif;
  font-size: 1.25rem;
} */

p,
dl,
ol,
ul {
  font-size: 1rem;
  line-height: 2rem;
}

p {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding-right: 0;
  vertical-align: baseline;
}

b,
strong {
  color: var(--color-blue);
  font-weight: 600;
}

i,
em {
  color: var(--color-purple);
}

section.fic-page b,
section.fic-page strong,
section.fic-page i,
section.fic-page em {
  color: inherit;
}

a,
a:active,
a:visited {
  color: var(--color-yellow);
}

a:hover {
  color: var(--color-green);
}

code {
  font-family: "Inconsolata LGC Markup";
}

/* Chapter Epigraphs */
div.epigraph {
  margin: 2em 0;
}

div.epigraph > blockquote {
  margin-top: 2em;
  margin-bottom: 2em;
}

div.epigraph > blockquote,
div.epigraph > blockquote > p {
  font-style: italic;
}

div.epigraph > blockquote > footer {
  font-style: normal;
}

div.epigraph > blockquote > footer > cite {
  font-style: italic;
}
/* end chapter epigraphs styles */

blockquote {
  font-size: 1rem;
  font-style: italic;
}

blockquote p:first-of-type::before {
  content: ">";
  display: block;
  position: absolute;
  left: -25px;
  color: var(--color-yellow);
  font-style: normal;
}

blockquote p {
  /* width: 50%; */
  /* margin-right: 40px; */
  position: relative;
}

blockquote footer {
  /* width: 50%; */
  font-size: 0.9rem;
  text-align: right;
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > dl,
section > ol,
section > ul {
  width: 95%;
  -webkit-padding-start: 5%;
}

dt:not(:first-child),
li:not(:first-child) {
  margin-top: 0.25rem;
}

li {
  line-height: 2rem;
}

ul li {
  list-style-type: "»";
  padding-inline-start: 1em;
}

li.footnote-item p {
  padding-left: 1rem;
}

li.footnote-item:target {
  background: var(--background-selection);
  border-radius: 0.3em;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 50%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

figcaption {
  float: right;
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
}

figure.fullwidth figcaption {
  margin-right: 24%;
}

/* Sidenotes, margin notes, figures, captions */
img {
  max-width: 100%;
}

.sidenote,
.marginnote:not(.endnote) {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-bottom: 0;
  font-size: 0.85rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
  border-top: 1px solid var(--color-border);
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}

.marginnote.endnote {
  display: block;
  width: 95%;
  margin: 1rem 2.5%;
  font-size: 0.9rem;
  line-height: 1.3;
}

section.margin {
  padding: 0;
}

p.margin {
  margin: 0;
}

.sidenote-number {
  counter-increment: sidenote-counter;
  cursor: default;
}

.sidenote-number:after,
.sidenote:before {
  position: relative;
  vertical-align: baseline;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 0.85rem;
  top: -0.5rem;
  left: 0.1rem;
  color: var(--color-blue);
}

.sidenote:before {
  content: counter(sidenote-counter) " ";
  font-size: 0.7rem;
  top: -0.25rem;
  color: var(--color-blue);
}

input.margin-toggle {
  display: none;
}

blockquote .sidenote,
blockquote .marginnote {
  margin-right: -82%;
  min-width: 59%;
  text-align: left;
}

div.fullwidth,
table.fullwidth {
  width: 100%;
}

div.table-wrapper {
  overflow-x: auto;
  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

.sans {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  letter-spacing: 0.03em;
}

code,
pre > code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1rem;
  line-height: 1.42;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

.sans > code {
  font-size: 1.2rem;
}

h1 > code,
h2 > code,
h3 > code {
  font-size: 0.8em;
}

.marginnote > code,
.sidenote > code {
  font-size: 0.75rem;
}

pre > code {
  font-size: 0.9rem;
  width: 52.5%;
  margin-left: 2.5%;
  overflow-x: auto;
  display: block;
}

pre.fullwidth > code {
  width: 90%;
}

.fullwidth {
  max-width: 90%;
  clear: both;
}

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
}

label.sidenote-number {
  display: inline-block;
  max-height: 2rem; /* should be less than or equal to paragraph line-height */
}

/* label + span.sidenote {
  margin-top: 0;
} */

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1100px) {
  /* section.terminal,
  section.content {
    width: 80%;
  } */

  section.terminal.navbox .top {
    flex-direction: column;
    gap: 0.75em;
  }
}

@media (max-width: 811px) {
  body {
    padding: 0;
  }

  nav ul {
    flex-direction: column;
    max-width: auto;
  }

  nav ul li {
    margin: 0.5em 0 !important;
    max-width: auto;
  }

  hr,
  section,
  section.terminal,
  section.content,
  section > footer,
  section > table {
    width: 90%;
    margin: 2rem auto;
  }

  section section.fic-page {
    width: 100%;
  }

  pre > code {
    width: 97%;
  }

  figure {
    max-width: 90%;
  }

  figcaption,
  figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none;
  }

  blockquote {
    margin-left: 1.5em;
    margin-right: 0em;
  }

  blockquote p,
  blockquote footer {
    width: 100%;
  }

  p.margin + hr {
    display: none;
  }

  p.margin > span.marginnote {
    margin-top: 1rem !important;
    margin-bottom: 3rem !important;
  }

  .sidenote,
  .marginnote {
    display: block !important;
    width: 95% !important;
    margin: 1rem 2.5% !important;
    /* margin-bottom: 3rem !important; */
  }

  .sidenote,
  .marginnote:not(.endnote) {
    padding: 1rem 0;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }

  label {
    cursor: pointer;
  }

  div.table-wrapper,
  table {
    width: 85%;
  }

  img {
    width: 100%;
  }
}

/* TERMINAL */
button {
  border: 0;
  outline: 0;
}

button.btn {
  font-family: "Inconsolata LGC Markup";
  font-weight: 500;
  cursor: pointer;
  font-size: 0.9rem;
}

button.btn span {
  padding: 8px;
}

button.btn-primary {
  background-color: var(--color-blue);
  color: var(--background-primary);
  box-shadow: 10px 10px var(--color-black);
}

button.btn:active {
  transform: scale(0.98);
}

button.toggle-color-scheme {
  background-color: var(--color-blue);
  color: var(--background-primary);
  padding: 0 0.75rem;
  font-size: 1.12rem;
  font-weight: 600;
  min-width: 190px;
}

button.btn::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

button.host,
button.dir,
button.dir2 {
  font-size: 1.12rem;
  letter-spacing: -0.5px;
  font-weight: 600;
  padding-top: 4px;
  padding-bottom: 4px;
  color: var(--background-primary);
}

button.btn.host,
button.btn.dir,
button.btn.dir2:active {
  transform: none;
}

button.host {
  cursor: default;
  padding: 0 10px 0 0;
  margin: 0;
  position: relative;
  display: inline-block;
  background: none;
}

button.host::after {
  content: "";
  background: var(--color-blue);
  -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
  z-index: -1;
}

button.dir {
  cursor: default;
  padding: 0 13px;
  margin-left: -20px;
  z-index: -10;
  position: relative;
  display: inline-block;
  background: none;
  width: auto;
}

button.dir::after {
  content: "";
  background: var(--color-red);
  -webkit-clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
  z-index: -1;
}

button.dir2 {
  cursor: default;
  padding: 0 13px;
  margin-left: -20px;
  z-index: -10;
  position: relative;
  display: inline-block;
  background: none;
  width: auto;
}

button.dir2::after {
  content: "";
  background: var(--color-red);
  -webkit-clip-path: polygon(0% 0%, 93% 0%, 100% 50%, 93% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 93% 0%, 100% 50%, 93% 100%, 0% 100%);
  z-index: -1;
}

table.fetch {
  margin-left: 0px;
  margin-right: auto;
  padding: 6px;
}

th.fetch {
  color: var(--color-teal);
  text-align: left;
  font-weight: 600;
}

td.fetch {
  color: var(--color-red);
  font-weight: 600;
  padding-right: 0.6em;
  line-height: 1.3;
}

/* FIC POSTS */
.post-date {
  opacity: 0.6;
}

.fic > p:nth-last-child(2) {
  padding-top: 8px;
}

.fic span {
  display: inline-block;
  margin-left: 1ch;
  padding: 0;
}

.fic span.stat {
  color: var(--color-gray);
}

.fic h2 + span.stat:first-of-type,
.fic h3 + span.stat:first-of-type {
  margin-left: 0;
}

.fic a + span.stat {
  margin-left: 2ch;
}

.fic span.stat.ship {
  color: var(--color-purple);
}

.fic span.stat.explicit {
  color: var(--color-red);
}

.fic span.stat.completed {
  color: var(--color-teal);
}

.fic span.stat.wip {
  color: var(--color-blue);
}

.fic span.stat.teen {
  color: var(--color-yellow);
}

/* CHECKBOX */
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  padding: 4px 0;
  font: inherit;
  color: currentColor;
}

input[type="checkbox"]:before {
  content: "[ ]";
}

input[type="checkbox"]:checked:before {
  content: "[√]";
  color: var(--color-teal);
}

ul.contains-task-list {
  padding-left: 0;
}

li.task-list-item,
li.bloglist {
  list-style: none;
  line-height: 1.5em;
  padding: 0;
}

li.task-list-item::before,
li.bloglist::before {
  content: none;
  padding: 0;
}
