@media (prefers-color-scheme: light) {
  :root {
    --background-primary: #efefef;
    --color-primary: #2d2f42;

    --background-selection: #b6bfe2;
    --background-secondary: #e1e2e7;
    --background-yellow: rgba(181, 118, 20, 0.3);
    --background-green: rgba(75, 160, 22, 0.3);

    --color-black: #32354e;
    --color-red: #d65e76;
    --color-green: #4ba016;
    --color-yellow: #b57614;
    --color-blue: #648ce3;
    --color-purple: #8d46d4;
    --color-teal: #16a085;

    --color-gray: #848cb5;
    --color-border: #ccc;

    /* PRISM */
    --plain-color: #343b58;
    --plain-backgroundColor: #e1e2e7;
    --selection-backgroundColor: #f9f9fc;
    --prolog-color: #f52a65;
    --comment-color: #848cb5;
    --constant-color: #b15c00;
    --keyword-color: #7847bd;
    --symbol-color: #188092;
    --string-color: #587539;
    --variable-color: #2e7de9;
    --url-color: #2e7de9;
    --punctuation-color: #9854f1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* TOKYO NIGHT NIGHT */
    --background-primary: #1a1b26;
    --color-primary: #dfdede;

    --background-selection: #283457;
    --background-secondary: #24283b;
    --background-yellow: rgba(224, 175, 104, 0.3);
    --background-green: rgba(158, 206, 106, 0.3);

    --color-black: #0b0b11;
    --color-red: #f7768e;
    --color-green: #9ece6a;
    --color-yellow: #e0af68;
    --color-blue: #7aa2f7;
    --color-purple: #9d7cd8;
    --color-teal: #7dcfff;

    --color-gray: #6a79ba;
    --color-border: #515151;

    /* PRISM */
    --plain-color: #c0caf5;
    --plain-backgroundColor: #24283b;
    --selection-backgroundColor: #363d55;
    --prolog-color: #f7768e;
    --comment-color: #565f89;
    --constant-color: #ff9e64;
    --keyword-color: #9d7cd8;
    --symbol-color: #2ac3de;
    --string-color: #9ece6a;
    --variable-color: #7aa2f7;
    --url-color: #89ddff;
    --punctuation-color: #bb9af7;
  }
}

html[data-theme="light"] {
  /* TOKYO NIGHT DAY */
  --background-primary: #efefef;
  --color-primary: #2d2f42;

  --background-selection: #b6bfe2;
  --background-secondary: #e1e2e7;
  --background-yellow: rgba(181, 118, 20, 0.3);
  --background-green: rgba(75, 160, 22, 0.3);

  --color-black: #32354e;
  --color-red: #d65e76;
  --color-green: #4ba016;
  --color-yellow: #b57614;
  --color-blue: #648ce3;
  --color-purple: #8d46d4;
  --color-teal: #16a085;

  --color-gray: #848cb5;
  --color-border: #ccc;

  /* PRISM */
  --plain-color: #343b58;
  --plain-backgroundColor: #e1e2e7;
  --selection-backgroundColor: #f9f9fc;
  --prolog-color: #f52a65;
  --comment-color: #848cb5;
  --constant-color: #b15c00;
  --keyword-color: #7847bd;
  --symbol-color: #188092;
  --string-color: #587539;
  --variable-color: #3760bf;
  --url-color: #2e7de9;
  --punctuation-color: #9854f1;
}

html[data-theme="dark"] {
  /* TOKYO NIGHT NIGHT */
  --background-primary: #1a1b26;
  --color-primary: #dfdede;

  --background-selection: #283457;
  --background-secondary: #24283b;
  --background-yellow: rgba(224, 175, 104, 0.3);
  --background-green: rgba(158, 206, 106, 0.3);

  --color-black: #0b0b11;
  --color-red: #f7768e;
  --color-green: #9ece6a;
  --color-yellow: #e0af68;
  --color-blue: #7aa2f7;
  --color-purple: #9d7cd8;
  --color-teal: #70c0b1;

  --color-gray: #6a79ba;
  --color-border: #515151;

  /* PRISM */
  --plain-color: #c0caf5;
  --plain-backgroundColor: #24283b;
  --selection-backgroundColor: #363d55;
  --prolog-color: #f7768e;
  --comment-color: #565f89;
  --constant-color: #ff9e64;
  --keyword-color: #9d7cd8;
  --symbol-color: #2ac3de;
  --string-color: #9ece6a;
  --variable-color: #7aa2f7;
  --url-color: #89ddff;
  --punctuation-color: #bb9af7;
}

html[data-theme="catppuccinmocha"] {
  /* CATPPUCCIN MOCHA */
  --background-primary: #1e1e2e; /* base */
  --color-primary: #cdd6f4;

  --background-selection: #585b70; /* overlay0 */
  --background-secondary: #45475a; /* surface1 */
  --background-yellow: rgba(249, 226, 175, 0.3);
  --background-green: rgba(166, 227, 161, 0.3);

  --color-black: #11111b; /* crust */
  --color-red: #f38ba8;
  --color-green: #a6e3a1;
  --color-yellow: #f9e2af;
  --color-blue: #89b4fa;
  --color-purple: #b4befe;
  --color-teal: #94e2d5;

  --color-gray: #7f849c; /* overlay1 */
  --color-border: #585b70; /* surface2 */
}

html[data-theme="catppuccinlatte"] {
  /* CATPPUCCIN LATTE */
  --background-primary: #eff1f5; /* base */
  --color-primary: #4c4f69;

  --background-selection: #acb0be; /* overlay0 */
  --background-secondary: #bcc0cc; /* surface1 */
  --background-yellow: rgba(223, 142, 29, 0.3);
  --background-green: rgba(64, 160, 43, 0.3);

  --color-black: #11111b; /* crust */
  --color-red: #d20f39;
  --color-green: #40a02b;
  --color-yellow: #df8e1d;
  --color-blue: #1e66f5;
  --color-purple: #7287fd;
  --color-teal: #179299;

  --color-gray: #8c8fa1; /* overlay1 */
  --color-border: #acb0be; /* surface2 */
}

html[data-theme="horizondark"] {
  /* HORIZON DARK */
  --background-primary: #1c1e26;
  --color-primary: #fdf0ed;

  --background-selection: #6c6f9380;
  --background-secondary: #1c1e26;
  --background-yellow: rgba(250, 183, 149, 0.3);
  --background-green: rgba(41, 211, 152, 0.3);

  --color-black: #16161c;
  --color-red: #e95678;
  --color-green: #29d398;
  --color-yellow: #fab795;
  --color-blue: #26bbd9;
  --color-purple: #ee64ae;
  --color-teal: #59e3e3;

  --color-gray: #2e303e;
  --color-border: #6c6f9380;

  /* PRISM */
  --plain-color: #fdf0ed;
  --plain-backgroundColor: #1c1e26;
  --selection-backgroundColor: #6c6f9380;
  --prolog-color: #e95678;
  --comment-color: #bbbbbb4d;
  --constant-color: #f09483e6;
  --keyword-color: #b877dbe6;
  --symbol-color: #bbbbbb;
  --string-color: #fab795e6;
  --variable-color: #e95678e6;
  --url-color: #fab795e6;
  --punctuation-color: #bbbbbb;
}

html[data-theme="horizonbright"] {
  /* HORIZON BRIGHT */
  --background-primary: #faf4ed;
  --color-primary: #16161c;

  --background-selection: #af542780;
  --background-secondary: #fadad1;
  --background-yellow: rgba(247, 125, 38, 0.3);
  --background-green: rgba(30, 185, 128, 0.3);

  --color-black: #16161c;
  --color-red: #ec6a88;
  --color-green: #1eb980;
  --color-yellow: #f77d26;
  --color-blue: #1eaeae;
  --color-purple: #8931b9;
  --color-teal: #1d8991;

  --color-gray: #2e303e;
  --color-border: #6c6f9380;

  /* PRISM */
  --plain-color: #16161c;
  --plain-backgroundColor: #faf4ed;
  --selection-backgroundColor: #af542780;
  --prolog-color: #ec6a88;
  --comment-color: #33333380;
  --constant-color: #dc3318;
  --keyword-color: #8a31b9;
  --symbol-color: #333333;
  --string-color: #f6661e;
  --variable-color: #da103f;
  --url-color: #f6661e;
  --punctuation-color: #333333;
}

html[data-theme="rosepine"] {
  /* ROSE PINE */
  --background-primary: #191724;
  --color-primary: #e0def4;

  --background-selection: #403d52;
  --background-secondary: #1f1d2e;
  --background-yellow: rgba(246, 193, 119, 0.3);
  --background-green: rgba(49, 116, 143, 0.3);

  --color-black: #16161c;
  --color-red: #eb6f92;
  --color-green: #9ccfd8;
  --color-yellow: #f6c177;
  --color-blue: #3e8fb0;
  --color-purple: #c4a7e7;
  --color-teal: #ebbcba;

  --color-gray: #908caa;
  --color-border: #6c6f9380;

  /* PRISM */
  --plain-color: #e0def4;
  --plain-backgroundColor: #191724;
  --selection-backgroundColor: #af542780;
  --prolog-color: #908caa;
  --comment-color: #908caa;
  --constant-color: #e0def4;
  --keyword-color: #31748f;
  --symbol-color: #ebbcba;
  --string-color: #f6c177;
  --variable-color: #9ccfd8;
  --url-color: #c4a7e7;
  --punctuation-color: #9ccfd8;
}

html[data-theme="rosepinedawn"] {
  /* ROSE PINE DAWN */
  --background-primary: #faf4ed;
  --color-primary: #575279;

  --background-selection: #dfdad9;
  --background-secondary: #fffaf3;
  --background-yellow: rgba(246, 193, 119, 0.3);
  --background-green: rgba(49, 116, 143, 0.3);

  --color-black: #16161c;
  --color-red: #b4637a;
  --color-green: #56949f;
  --color-yellow: #ea9d34;
  --color-blue: #286983;
  --color-purple: #907aa9;
  --color-teal: #d7827e;

  --color-gray: #797593;
  --color-border: #6c6f9380;

  /* PRISM */
  --plain-color: #575279;
  --plain-backgroundColor: #faf4ed;
  --selection-backgroundColor: #dfdad9;
  --prolog-color: #797593;
  --comment-color: #797593;
  --constant-color: #575279;
  --keyword-color: #286983;
  --symbol-color: #d7827e;
  --string-color: #ea9d34;
  --variable-color: #56949f;
  --url-color: #907aa9;
  --punctuation-color: #56949f;
}
