@media (prefers-color-scheme: light) {
  :root {
    --background-primary: #efefef;
    --color-primary: #343b58;

    --background-selection: #b6bfe2;
    --background-secondary: #e1e2e7;
    --background-yellow: rgba(181, 118, 20, 0.3);

    --color-black: #32354e;
    --color-red: #d65e76;
    --color-green: #4ba016;
    --color-yellow: #b57614;
    --color-blue: #648ce3;
    --color-purple: #8d46d4;
    --color-teal: #16a085;

    --color-gray: #848cb5;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* TOKYO NIGHT NIGHT */
    --background-primary: #1a1b26;
    --color-primary: #c0caf5;

    --background-selection: #283457;
    --background-secondary: #24283b;
    --background-yellow: rgba(224, 175, 104, 0.3);

    --color-black: #0b0b11;
    --color-red: #f7768e;
    --color-green: #9ece6a;
    --color-yellow: #e0af68;
    --color-blue: #7aa2f7;
    --color-purple: #9d7cd8;
    --color-teal: #7dcfff;

    --color-gray: #6a79ba;
  }
}

.light-theme {
  /* TOKYO NIGHT DAY */
  --background-primary: #efefef;
  --color-primary: #343b58;

  --background-selection: #b6bfe2;
  --background-secondary: #e1e2e7;
  --background-yellow: rgba(181, 118, 20, 0.3);

  --color-black: #32354e;
  --color-red: #d65e76;
  --color-green: #4ba016;
  --color-yellow: #b57614;
  --color-blue: #648ce3;
  --color-purple: #8d46d4;
  --color-teal: #16a085;

  --color-gray: #848cb5;
}

.dark-theme {
  /* TOKYO NIGHT NIGHT */
  --background-primary: #1a1b26;
  --color-primary: #a9b1d6;

  --background-selection: #283457;
  --background-secondary: #24283b;
  --background-yellow: rgba(224, 175, 104, 0.3);

  --color-black: #0b0b11;
  --color-red: #f7768e;
  --color-green: #9ece6a;
  --color-yellow: #e0af68;
  --color-blue: #7aa2f7;
  --color-purple: #9d7cd8;
  --color-teal: #70c0b1;

  --color-gray: #6a79ba;
}
