@import url(tokyonight.css);

/* FONTS */

@font-face {
  font-family: "Inconsolata LGC Markup";
  src: url("../fonts/InconsolataLGCmarkup.otf");
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata LGC Markup";
  src: url("../fonts/InconsolataLGCmarkup-Italic.otf");
  font-style: italic;
}

@font-face {
  font-family: "Inconsolata LGC Markup";
  src: url("../fonts/InconsolataLGCmarkup-Bold.otf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Inconsolata LGC Markup";
  src: url("../fonts/InconsolataLGCmarkup-BoldItal.otf");
  font-style: italic;
  font-weight: 600;
}

/* DEFAULT STYLES */
:root {
  font-family: "Inconsolata LGC Markup";
  font-size: 14px;
}

* {
  /* CSS RESET */
  padding: 0;
  margin: 0 auto;
  border: 0;
  line-height: 1;
  box-sizing: border-box;
}

body {
  background-color: var(--background-primary);
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* CONTAINER DEFAULTS */
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

main,
header,
footer {
  max-width: 900px;
  padding: 12px;
}

main {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 280px minmax(auto, 620px);
  gap: 1em;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: start;
  position: sticky;
  top: 12px;
}

div.terminal {
  min-width: 280px;
  font-size: 0.9em;
}

section.terminal {
  width: 100%;
  padding: 4px;
  min-width: 0;
  overflow: auto;
}

.terminal {
  border: 1px solid currentColor;
  border-top: 4px solid currentColor;
  margin-bottom: 1em;
}

.terminal p:not(:last-child) {
  margin-bottom: -4px;
  padding-bottom: 4px;
}

.terminal table {
  margin-left: 8px;
}

.terminal nav:not(.toc) {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1em;
  padding: 8px;
  flex-wrap: wrap;
}

.terminal nav a {
  flex: 1;
}

.terminal-header {
  padding: 2px 4px 2px 2px;
  margin-bottom: 4px;
  background: currentColor;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.terminal-header div {
  width: 100%;
}

.terminal-header p {
  color: var(--background-primary);
  padding: 0 4px;
  display: inline-block;
  flex: 1;
  cursor: default;
}

@media screen and (max-width: 650px) {
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .sidebar {
    position: static;
    top: 0;
  }

  .sidebar .terminal {
    width: 100%;
  }
}

footer {
  padding-bottom: 20px;
}

hr {
  border: 1px var(--background-selection) solid;
  margin: 8px;
  margin-top: 16px;
}

/* TYPOGRAPHY DEFAULTS */
h1,
h2 {
  letter-spacing: -1px;
}

h1,
h2,
h3,
h4 {
  line-height: 1.5;
  padding: 6px;
  font-weight: 600;
  color: var(--color-red);
}

h1 a,
h2 a,
h3 a,
h4 a {
  color: var(--color-red);
  text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
  color: var(--color-red);
}

h1 b,
h1 strong,
h2 b,
h2 strong,
h3 b,
h3 strong {
  font-weight: 600;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

p,
span {
  line-height: 1.5;
  padding: 8px;
}

span.token {
  padding: 0px;
}

b,
strong {
  color: var(--color-blue);
  font-weight: 600;
}

i,
em {
  color: var(--color-purple);
}

a,
a:active,
a:visited {
  color: var(--color-yellow);
}

a:hover {
  color: var(--color-green);
}

code {
  font-family: "Inconsolata LGC Markup";
}
/* 
ol li:not(.footnote-item),
ul li {
  padding: 0.25em 0;
} */

li {
  margin-right: 1em;
  line-height: 1.5em;
}

ul li {
  margin-left: 1.5em;
  list-style-type: "–";
  padding-inline-start: 1em;
}

ol {
  padding: 8px 0;
}

ol li,
ol li.footnote-item {
  margin-left: 2.5em;
}

li.footnote-item:target {
  background: var(--background-selection);
  border-radius: 0.3em;
}

li.footnote-item p {
  padding: 0.5em 0;
}

.footnote-ref a:focus {
  outline: thin dotted;
}

::selection {
  background: var(--background-selection);
}

blockquote {
  border-left: 2px solid var(--color-gray);
  margin: 12px 1.5em 8px 1.5em;
  color: var(--color-gray);
  font-size: 0.9em;
  font-style: italic;
}

blockquote p {
  padding: 0 8px;
}

blockquote i,
blockquote em,
blockquote b,
blockquote strong {
  color: var(--color-gray);
}

/* EXTERNAL LINK ICON */
/* SOURCE: https://christianoliff.com/blog/styling-external-links-with-an-icon-in-css/ */
/* a[href^="http"]::after,
a[href^="https://"]::after
{
  content: "";
  width: 11px;
  height: 11px;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

a[href^="127.0.0.1"]::after {
  display: none !important;
} */

/* CUSTOM STYLES */

/* TERMINAL */
button.btn {
  font-family: "Inconsolata LGC Markup";
  font-weight: 500;
  cursor: pointer;
  font-size: 0.9rem;
}

button.btn-primary {
  background-color: var(--color-blue);
  color: var(--background-primary);
  box-shadow: 5px 5px var(--color-primary);
}

button.btn:active {
  transform: scale(0.98);
}

button.toggle-color-scheme {
  padding: 0.75rem;
  min-width: 212px;
  border: 1px solid var(--background-primary);
}

button.btn::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

button.host,
button.dir,
button.dir2 {
  font-size: 0.9rem;
  padding-top: 4px;
  padding-bottom: 4px;
  color: var(--background-primary);
}

button.btn.host,
button.btn.dir,
button.btn.dir2:active {
  transform: none;
}

button.host {
  cursor: default;
  padding: 0 10px 0 0;
  margin: 0;
  position: relative;
  display: inline-block;
  background: none;
}

button.host::after {
  content: "";
  background: var(--color-blue);
  -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
  z-index: -1;
}

button.dir {
  cursor: default;
  padding: 0 13px;
  margin-left: -20px;
  z-index: -10;
  position: relative;
  display: inline-block;
  background: none;
  width: auto;
}

button.dir::after {
  content: "";
  background: var(--color-red);
  -webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  z-index: -1;
}

button.dir2 {
  cursor: default;
  padding: 0 13px;
  margin-left: -20px;
  z-index: -10;
  position: relative;
  display: inline-block;
  background: none;
  width: auto;
}

button.dir2::after {
  content: "";
  background: var(--color-red);
  -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
  z-index: -1;
}

table.fetch {
  margin-left: 0px;
  margin-right: auto;
  padding: 6px;
}

th.fetch {
  color: var(--color-teal);
  text-align: left;
  font-weight: 600;
}

td.fetch {
  color: var(--color-red);
  font-weight: 600;
  padding-right: 0.6em;
  line-height: 1.3;
}

/* CHECKBOX */
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  padding: 4px 0;
  font: inherit;
  color: currentColor;
}

input[type="checkbox"]:before {
  content: "– [ ]";
}

input[type="checkbox"]:checked:before {
  content: "– [x]";
  color: var(--color-teal);
}

li.task-list-item,
li.bloglist {
  margin-left: 1em;
  list-style: none;
  line-height: 1.5em;
  padding: 0;
}

li.task-list-item::before,
li.bloglist::before {
  content: none;
  padding: 0;
}

/* BLOG POSTS */
a.post {
  font-size: 1.3em;
  letter-spacing: -1px;
}

.post-date {
  font-size: 0.9em;
  padding: 0 8px;
}

li.bloglist {
  margin: 8px;
}

span.tag {
  display: inline;
  padding: 0.2em 0.3em;
  font-size: 0.9em;
  background-color: var(--background-secondary);
  border-radius: 0.3em;
  margin: 0 8px;
}
